# Ease local api development by providing the db / graphql layers only

version: "3.7"

services:
  db:
    image: postgres:11.7-alpine
    environment:
      POSTGRES_USER: "chatr"
      POSTGRES_PASSWORD: "testing"
      POSTGRES_DB: "mydb"
    ports:
      - "5432:5432"
    expose:
      - "5432"
    volumes:
      - db:/var/lib/postgresql/data

  server:
    image: node:14.15.4-alpine3.10
    environment: 
      DATABASE_URL: postgresql://chatr:testing@db:5432/mydb?schema=public
    volumes:
      - ./server:/server
      - /server/node_modules
    depends_on:
      - db
    ports:
      - "8020:8020"
    expose:
      - "8020"
    command: sh -c 'cd server && yarn install --frozen-lockfile && yarn dev'

  client:
    image: node:14.15.4-alpine3.10
    environment: 
      REACT_APP_GRAPHQL_ENDPOINT: "https://localhost:8020/graphql"
    volumes:
      - ./client:/client
      - /client/node_modules
    depends_on:
      - db
    ports:
      - "3000:3000"
    expose:
      - "3000"
    command: sh -c 'cd client && yarn install --frozen-lockfile && yarn start'

volumes:
  db:
  server:
  client: